.tela {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.tela img{
    width: 5vw;
    height: 6%;
    padding-left: 40px;
}


.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user img{
    width: 3vw;
    height: 100%;
    cursor: pointer;
    padding-right: 25px;
}
