.tela {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.logo{
    width: 7vw;
    height: 6%;
    padding-left: 40px;
}


.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.usericon{
    width: 4vw;
    height: 100%;
    cursor: pointer;
    padding-right: 25px;
}
