.navbar {
    width: 8vw;
    height: 75vh;
    border-radius: 8px;
    background: linear-gradient(267deg, rgba(1, 31, 75, 1) 0%, rgba(3, 57, 108, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones {
    width: 80%;
    height: 80%;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 18px;
    flex-direction: column;
    cursor: pointer;
}



.icones p {
    color: white;
    font-weight: 300;
}