.tabela {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: auto;
}

th {
    background-color: #012964  !important;
    color: white !important;
    font-weight: 700;
    text-align: center !important;
}

td {
    background-color: rgb(238, 243, 247) !important;
    color: #012964 !important;
    font-weight: 600;
}
